@media (min-height: 800px) {
    .image-last img {
        height: 300px;
        width: 100%;
        border-radius: 20px;
        object-fit: cover;
    }
}

@media (max-width:1145px) {
    main {
        flex-wrap: wrap;
    }
}

@media (max-width: 1150px) {

    main {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 20px 0;
        gap: 20px;
    }

    .left-container,
    .center-container,
    .right-container {
        width: 90%;
        height: auto;
    }

    .skills-box {
        margin-top: 20px;
    }

    nav {
        width: 80%;
        height: 60px;
        border-radius: 50px;
        position: fixed;
        z-index: 1;
        bottom: 0px;
        background: rgba(128, 128, 128, 0.382);
        backdrop-filter: blur(7px);
    }

    nav ul {
        flex-direction: row;
        height: auto;
        gap: 25px;
    }

    ul li {
        width: 40px;
        height: 40px;
    }

    .image-container img {
        height: 400px;
    }

    .image-last img {
        height: 180px;
    }

    .right-container {
        margin-bottom: 20px;
    }

    .image-cv {
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-end;


    }

    .image-cv img {
        width: 100%;
        height: auto;
        object-fit: contain;

        max-height: 250px;
        transition: 0.5s;
    }

    .image-cv img:hover {
        filter: drop-shadow(0 0 20px black);
        height: auto;
    }

    .image-last {
        height: auto;
    }

    .image-last img {
        height: auto;
        width: 100%;
        height: auto;
        object-fit: contain;

        max-height: 250px;
        transition: 0.5s;
    }

    .image-last img:hover {
        height: auto;
    }

    .center-container img:hover {
        height: auto;
    }

    nav {
        animation: nav 2s;
        bottom: 10px;
    }

    @keyframes nav {
        0% {
            transform: translatey(100px);
            opacity: 0;

        }

        50% {}

        100% {}
    }

    .services-mid {
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
        margin-bottom: 40px;
    }

    .services-mid .box1 {
        padding: 40px 20px;
    }

    .services-mid .box1 {
        width: 90%;
    }

    .services-section {
        padding: 40px 0px;
    }
    
.contact-mid{
    flex-direction: column-reverse;
    padding: 20px 0px;
}
.imgage-sec{
    width: 100%;
    display: none;
}
.imgage-sec::before{
  top: 10%;
   right: 310px;
}
.contact-form{
    width: 100%;
    padding: 0px;
}
.contact-form input{
    width: 80%;
    padding: 20px;
    border-radius: 5px;
}
textarea{
    width: 80%;
}


}

    /* @media (max-width:1200px) {
        .imgage-sec::before{
   content: "";
   width: 400px;
   height: 400px;
   border-radius: 50%;
   background-color: rgb(255, 0, 0);
   position: absolute;
   top: 20%;
   right: 50px;
   filter: blur(20px);
   transition: 1s;
}
    }
     */

@media (min-width:200px) and (max-width:600px) {
    .services-mid .box1 {
        width: 100%;
    }
    .project-mid{
    max-width: 1320px;
    padding: 10px 20px;
    /* background-color: white; */
    margin: auto;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
   

    

}
.projects-sec{
    margin-top: 20px;
}
.projects-sec h2{
    margin-bottom: -70px;
    font-size: 1.5em;
}
.project-mid img{
    border-radius: 5px;
}
.project-mid img:hover{
    border-radius: 5px;
}

    .ser-txt {
        font-size: 2rem;
    }

    .services-mid ul {
        gap: 0px;
    }

    .image-container img:hover {
        height: 500px;
        transform: translateY(50px);
        filter: saturate(1) drop-shadow(0 0 20px black);

    }

    .services-mid .box1:hover {
        scale: 1.030;
    }
    .contact-form{
    width: 100%;
    padding: 0px;
}
.contact-form input{
    width: 90%;
    padding: 10px;
    border-radius: 5px;
}
textarea{
    width: 90%;
    padding: 10px;
}
input:hover , textarea:hover{
    scale: 1.025;
}

}