* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: black;
}

main {
    max-width: 1320px;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.left-container {
    width: 25%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}

.center-container {
    width: 40%;
    height: 95%;
    background: linear-gradient(to right, rgb(236, 2, 2), rgb(106, 0, 0));
    border-radius: 20px;
    animation: 5s center infinite;
    position: relative;
}

.right-container {
    width: 25%;
    height: 95%;
    background-color: rgb(23, 23, 23);
    border-radius: 20px;
    padding: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.right-container h3 {
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.right-container h3 p {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}


.image-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* background-color: antiquewhite; */
}

.image-container img {
    filter: saturate(0.2);
    height: 700px;
    object-fit: cover;
    transition: 0.5s;
}

.image-container img:hover {
    height: 800px;
    transform: translateY(50px);
    filter: saturate(1) drop-shadow(0 0 20px black);

}


.cv-box {
    width: 95%;
    height: 65%;
    background-color: rgb(23, 23, 23);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 23px;
}

.skills-box {
    width: 95%;
    height: 30%;
    background-color: rgb(23, 23, 23);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 16px;
}

nav {
    width: 6%;
    height: 44%;
    background-color: rgb(54, 54, 54);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    list-style: none;
}

nav ul li {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.4s;

}

nav ul li:hover {
    background-color: rgb(192, 0, 0);
}

nav ul li a i {
    font-size: 28px;
    color: rgb(255, 255, 255);
    transition: 0.4s;
}

i:hover {
    scale: 0.9;
}

.icons ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@font-face {
    src: url(fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
    font-family: 'Playfair_Display';
}

.name {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Grechen Fuemen';
    color: white;
    /* padding: 10px 10px; */
    gap: 10px;
    font-size: 17px;
}
h1{
        font-family: 'Grechen Fuemen';

}

.circle {
    width: 25px;
    height: 25px;
    background: linear-gradient(to right, rgb(236, 2, 2), rgb(106, 0, 0));
    border-radius: 50%;
    position: relative;
}
html{
    scroll-behavior: smooth;
}

.circle::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    animation: circle 2s ease-in-out infinite;
}

@keyframes circle {
    0% {}

    25% {}

    50% {
        width: 15px;
        height: 15px;
    }

    75% {}

    100% {}
}

.image-cv {
    width: 100%;
    height: 46%;
    background: linear-gradient(to right, rgb(236, 2, 2), rgb(106, 0, 0));
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
}

.image-cv img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: 0.5s;
}

.image-cv img:hover {
    height: 230px;
    filter: drop-shadow(0 0 20px black);
}

p {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    line-height: 22px;
    font-size: 14px;
}

.btn {
    width: 80%;
    padding: 15px 20px;
    background-color: black;
    border: none;
    border-radius: 40px;
    color: rgba(255, 255, 255, 0.845);
    transition: 0.5s;
}

.btn:hover {
    padding: 15px 20px;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    scale: 1.080;
    cursor: pointer;
}

.skills-images img {
    height: 60px;
    animation: skill-img 5s infinite;
}

@keyframes skill-img {
    0% {}

    50% {
        scale: 1.1;
        filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.273)) saturate(1.5);
    }

    100% {}
}

h2 {
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Grechen Fuemen';
    text-transform: capitalize;
    /* width: 60%; */
    text-align: center;
    font-size: 28px;
    /* background-color: antiquewhite; */

}

.skill-top {
    display: flex;
    gap: 10px;
    /* background-color: antiquewhite; */
    align-items: center;
    justify-content: center;
}

.image-last {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: linear-gradient(to right, rgb(236, 2, 2), rgb(106, 0, 0));
    border-radius: 20px;
    flex: 1 1;
    /* overflow: hidden; */
    transition: 0.5s;

}

.image-last:hover {
    box-shadow: 0 0 20px 1px black;
}

.image-last img {
    /* width: 100%; */
    height: 210px;
    transition: 0.5s;

}

.image-last img:hover {
    /* width: 100%; */
    height: 240px;
    filter: drop-shadow(0 0 20px black);
}

.cv-box {
    animation: first-box 3s;
}

.skills-box {
    animation: first-box 5s;
}

.center-container img {
    animation: centerr 4s;
}

.right-container {
    animation: last-box 3s;
}

nav {
    animation: nav 5s;
}

@keyframes nav {
    0% {
        transform: translatex(200px);
        opacity: 0;
        height: 90%;

    }

    50% {
        scale: 0.7;

    }

    100% {}
}

@keyframes centerr {
    0% {
        transform: translateY(200px);
    }
}


@keyframes first-box {
    0% {
        opacity: 0;
        /* filter: blur(50px); */
        transform: translateX(-200px);
    }

    50% {}

    100% {}
}

@keyframes last-box {
    0% {
        opacity: 0;
        /* filter: blur(50px); */
        transform: translateX(200px);
    }

    50% {}

    100% {}
}

html {
    overflow-x: hidden;
}

.services-section {
    /* height: 100vh; */
    /* background: linear-gradient(to top, black, rgba(255, 0, 0, 0), rgb(0, 0, 0)); */
    color: white;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    flex-direction: column;
    gap: 0px;
    overflow-x: hidden;
    /* margin-top: 100px; */
    padding: 120px 0px;
    position: relative;
}
.services-section::-webkit-scrollbar {
  display: none;
}

.glow{
    filter: blur(80px);
    width: 300px;
    height: 300px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: -200px;
    top: 100px;
     animation: colorSec 6s infinite;
}
.glow2{
    filter: blur(80px);
    width: 300px;
    height: 300px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    position: absolute;
   right: -200px;
   bottom: 100px;
     animation: colorSec2 6s infinite;
}

@keyframes colorSec {
    0% {
        
    }
  

    50% {
        width: 400px;
        height: 400px;
            filter: blur(150px) saturate(5);
       top: 200px;
        background-color: rgba(255, 0, 0, 0.997);
        
    }

    100% {}
}
@keyframes colorSec2 {
    0% {
        
    }
  

    50% {
        width: 400px;
        height: 400px;
            filter: blur(150px) saturate(5);
       bottom: 250px;
        background-color: rgba(255, 0, 0, 0.997);
        
    }

    100% {}
}

.ser-txt {
    text-align: center;
    font-size: 4rem;
    padding-bottom: 40px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-transform: uppercase;
}

.services-mid .box1 {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 500px;
    gap: 20px 7px;
    border-radius: 20px;
    flex: 1;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.1),
        inset 0 0 20px rgba(255, 255, 255, 0.2);


}

.services-mid .box1:hover {
    scale: 1.1;
    /* background-color: black; */
}

.services-mid {
    margin-top: 0px;
    max-width: 1320px;
    padding: 0px 30px;
    text-align: left;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.services-section i {
    font-size: 40px;
    position: relative;

}

.icons ul {
    list-style: none;
    gap: 10px;
}

.icons i {
    color: white;
    font-size: 24px;
}

.services-section i::after {
    content: "";
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: -20px;
    z-index: -1;
}

.services-section h3 {
    font-size: 23px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.services-mid p {
    font-size: 16px;
    line-height: 25px;
}

.services-mid ul {
    padding-left: 10px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat Alternates', sans-serif;
}

.services-mid ul li {
    font-size: 15px;
    width: 100%;
}

/* contact section */
.contact-section{
    /* margin-top: 50px; */
    padding: 10px 10px;
    margin-bottom: 70px;
}

.contact-mid{
    max-width: 1320px;
    border-radius: 30px;
    margin: auto;
    display: flex;
    /* padding: 10px 20px; */
    background-color: rgb(37, 37, 37);
    /* border-top: 10px solid rgb(255, 255, 255); */
    animation: contact 5s infinite;
}
@keyframes contact{
    0%{

    }
    50%{
    background-color: rgb(28, 28, 28);
    
    }
    100%{

    }
}

.imgage-sec{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
        /* background: linear-gradient(to right, rgb(236, 2, 2), rgb(106, 0, 0)); */
border-radius: 30px 0px 0px 30px;
/* overflow: hidden; */
position: relative;

    
}
.imgage-sec img{
    height: 600px;
    transition: 0.5s;
    filter: drop-shadow(0 0 50px black) saturate(0);
    position: relative;
}
.imgage-sec::before{
   content: "";
   width: 400px;
   height: 400px;
   border-radius: 50%;
   background-color: rgb(255, 0, 0);
   position: absolute;
   top: 20%;
   right: 120px;
   filter: blur(20px);
   transition: 1s;
}
.imgage-sec:hover::before{
   content: "";
   width: 400px;
   height: 400px;
   border-radius: 50%;
   background-color: rgb(255, 255, 255);
   position: absolute;
   top: 7%;
   right: 120px;
   filter: blur(10px);
}
.imgage-sec img:hover{
    height: 600px;
    filter: drop-shadow(0 0 20px black) saturate(1);
}
.contact-form{
   width: 50%;
   /* background-color: aqua; */
   /* display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; */
}
form{
    width: 100%;
    height: 100%;
     display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 20px;
}
.contact-form input{
    width:70%;
   color: rgb(0, 0, 0);
    padding: 20px;
    font-family: sans-serif;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: 0.5s;
}
input::placeholder{
    color: grey;
}

input:focus ,textarea:focus{
box-shadow: 0 0 20px 3px rgba(255, 0, 0, 0.805);
scale: 1.1;}

textarea{
    background-color: rgb(255, 255, 255);
    width: 70%;
    height: 120px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-family: sans-serif;
    font-size: 15px;
    outline: none;
    transition: 0.5s;
}
textarea::placeholder{
    color: grey;
}

.submit{
    width: 200px;
    background-color: rgb(255, 0, 0);
}
.submit:hover{
    width: 200px;
scale: 1.1;
background-color: grey;}
form h2{
    font-size: 35px;
}

/* projects section */
.projects-sec{
    margin-top: 120px;
}
.project-mid{
    max-width: 1320px;
    padding: 10px 20px;
    /* background-color: white; */
    margin: auto;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 160px;
   

    

}
.project-1{
    padding: 20px;
     /* background-color: white; */
        border-radius: 30px;
        /* overflow: hidden; */
        position: relative;
}
.project-1::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    transform: rotate(5deg);
    border-radius: 10px;
    background-color: orange;
     filter: blur(10px);
    transition: 1s;
}
.p-2::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    transform: rotate(5deg);
    border-radius: 10px;
    background-color: rgb(0, 51, 255);
     filter: blur(10px);
    transition: 1s;
}
.p-3::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    transform: rotate(5deg);
    border-radius: 10px;
    background-color: rgb(118, 0, 20);
     filter: blur(10px);
    transition: 1s;
}
.project-1:hover::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0px;
    transform: rotate(-5deg);
    border-radius: 10px;
    background-color: orange;
    filter: blur(20px);
}
.p-3:hover::before{
    position: absolute;
    content: "";
    width: 100%;
    top: 0px;
    transform: rotate(-5deg);
    border-radius: 10px;
    background-color: rgb(103, 0, 0);
    filter: blur(20px);
}
.p-2:hover::before{
    position: absolute;
    content: "";
    width: 100%;
    top: 0px;
    transform: rotate(-5deg);
    border-radius: 10px;
    background-color: rgb(0, 64, 255);
    filter: blur(20px);
}

.project-mid img{
    width: 100%;
    border-radius: 15px;
    filter: saturate(0);
    /* box-shadow: 0 0 100px 10px grey; */
    transition: 0.5s;
    height: 60%;
    transform: rotate(-5deg);
    cursor: pointer;
}
.project-mid img:hover{
    width: 100%;
    border-radius: 30px;
    filter: saturate(1);
        transform: rotate(5deg);

    scale: 1.050;
    /* box-shadow: 0 0 100px 10px grey; */
}
